'.source.asm':
    'MOV':
      'prefix': 'MOV'
      'body': 'MOV ${1:DESTINO}, ${2:FUENTE}'
    'ADD':
      'prefix': 'ADD'
      'body': 'ADD ${1:DESTINO}, ${2:FUENTE}'
    'SUB':
      'prefix': 'SUB'
      'body': 'SUB ${1:DESTINO}, ${2:FUENTE}'
    'AND':
      'prefix': 'AND'
      'body': 'AND ${1:DESTINO}, ${2:FUENTE}'
    'OR':
      'prefix': 'OR'
      'body': 'OR ${1:DESTINO}, ${2:FUENTE}'
    'CMP':
      'prefix': 'CMP'
      'body': 'CMP ${1:DESTINO}, ${2:FUENTE}'
    'ADDC':
      'prefix': 'ADDC'
      'body': 'ADDC ${1:DESTINO}, ${2:FUENTE}'
    'NEG':
      'prefix': 'NEG'
      'body': 'NEG ${1:DESTINO}'
    'NOT':
      'prefix': 'NOT'
      'body': 'NOT ${1:DESTINO}'
    'JMP':
      'prefix': 'JMP'
      'body': 'JMP ${1:FUENTE}'
    'CALL':
      'prefix': 'CALL'
      'body': 'CALL ${1:FUENTE}'
    'JE':
      'prefix': 'JE'
      'body': 'JE ${1:ETIQUETA}'
    'JNE':
      'prefix': 'JNE'
      'body': 'JNE ${1:ETIQUETA}'
    'JLE':
      'prefix': 'JLE'
      'body': 'JLE ${1:ETIQUETA}'
    'JG':
      'prefix': 'JG'
      'body': 'JG ${1:ETIQUETA}'
    'JL':
      'prefix': 'JL'
      'body': 'JL ${1:ETIQUETA}'
    'JGE':
      'prefix': 'JGE'
      'body': 'JGE ${1:ETIQUETA}'
    'JLEU':
      'prefix': 'JLEU'
      'body': 'JLEU ${1:ETIQUETA}'
    'JGU':
      'prefix': 'JGU'
      'body': 'JGU ${1:ETIQUETA}'
    'JCS':
      'prefix': 'JCS'
      'body': 'JCS ${1:ETIQUETA}'
    'JNEG':
      'prefix': 'JNEG'
      'body': 'JNEG ${1:ETIQUETA}'
    'JVS':
      'prefix': 'JVS'
      'body': 'JVS ${1:ETIQUETA}'
    'DW':
      'prefix': 'DW'
      'body': 'DW ${1:0x0000}'
