scopeName: 'source.asm'
name: 'Assembly'
fileTypes: [ 'asm' ]
limitLineLength: false

patterns: [
    { include: '#comment' }
    {
        comment: 'Etiquetado'
        match: '^([^\ ]*)(\:)'
        captures:
          1: patterns: [
            { include: '#tag'}
          ]
          2: name: 'keyword.control.asm'
    }
    {
      comment: 'Funciones con 2 operandos'
      match: '(MOV|ADD|SUB|AND|OR|CMP|ADDC)\ +([0-9A-Za-z\\[\\]]+)(,)\ +([0-9A-Za-z\\[\\]]+)'
      captures:
        1: name: 'support.function.asm'
        2: patterns:[
          { include: '#registry'}
          { include: '#tag'}
          { include: '#hexaConstant'}
        ]
        3: name: 'support.function.asm'
        4: patterns:[
          { include: '#registry'}
          { include: '#tag'}
          { include: '#hexaConstant'}
        ]
    }
    {
      comment: 'Funciones con 1 operando'
      match: '(NEG|NOT|JMP|CALL)\ +([0-9A-Za-z\\[\\]]+)'
      captures:
        1: name: 'support.function.asm'
        2:patterns:[
          { include: '#registry'}
          { include: '#tag'}
          { include: '#hexaConstant'}
        ]
    }
    {
      comment: 'Funcion return'
      match: 'RET'
      name: 'support.function.asm'
    }
    {
      comment: 'Saltos condicionales'
      match: '(JE|JNE|JLE|JG|JL|JGE|JLEU|JGU|JCS|JNEG|JVS)\ +([a-z]+)'
      captures:
        1: name: 'support.function.asm'
        2: name: 'keyword.control.asm'
    }
    {
      comment: 'Directiva'
      match: '(DW) (0x[0-9A-F]{4})'
      captures:
        1: name: 'support.function.asm'
        2: name: 'bold.constant.language.asm'
    }
]

repository:
    comment:{
        comment: 'Comentario del codigo'
        name: 'comment.line.asm'
        match: '#.*$'
    }
    hexaConstant:{
      comment: 'Constantes inmediatas'
      name: 'bold.constant.language.asm'
      match: '0x[0-9A-F]{4}'
    }
    registry:{
      comment: 'Registros'
      match: '(\\[*)(R[0-7])(\\]*)'
      captures:
        1: name: 'string.regexp.character-class.asm'
        2: name: 'bold.variable.asm'
        3: name: 'string.regexp.character-class.asm'
    }
    tag:{
      comment: 'Etiquetas'
      match: '(\\[*)([A-Za-z]+)(\\]*)'
      captures:
        1: name: 'string.regexp.character-class.asm'
        2: patterns:[
          {
            comment: 'Variable'
            name: 'bold.keyword.control.asm'
            match:'[A-Z]+'
          }
          {
            comment: 'Etiqueta regular'
            name: 'keyword.control.asm'
            match: '[A-Za-z]+'
          }
        ]
        3: name: 'string.regexp.character-class.asm'
    }
