scopeName: 'source.asm'
name: 'language-assembly-orga1'
fileTypes: [ 'asm' ]
limitLineLength: false

patterns: [
    { include: '#comment' }
    {
        comment: 'Etiquetas'
        name: 'keyword.control.asm'
        match: '^[^\ ]*\:'
    }
    {
      comment: 'Funciones con 2 operandos'
      match: '(MOV|ADD|SUB|AND|OR|CMP|ADDC)\ +([0-9A-Za-z\\[\\]]+),\ +([0-9A-Za-z\\[\\]]+)'
      captures:
        1: name: 'support.function.asm'
        2:
          name: 'markup.bold.asm'
          patterns:[
            { include: '#comment' }
            { include: '#hexaConstant'}
            { include: '#variable'}
          ]
        3:
          name: 'markup.bold.asm'
          patterns:[
            { include: '#comment' }
            { include: '#hexaConstant'}
            { include: '#variable'}
          ]
    }
    {
      comment: 'Funciones con 1 operando'
      match: '(NEG|NOT|JMP|CALL)\ +([0-9A-Za-z\\[\\]]+)'
      captures:
        1: name: 'support.function.asm'
        2:
          name: 'markup.bold.asm'
          patterns:[
            { include: '#comment' }
            { include: '#hexaConstant'}
            { include: '#variable'}
          ]
    }
    {
      comment: 'Funcion return'
      match: 'RET'
      name: 'support.function.asm'
    }
    {
      comment: 'Saltos condicionales'
      match: '(JE|JNE|JLE|JG|JL|JGE|JLEU|JGU|JCS|JNEG|JVS)\ +([a-z]+)'
      captures:
        1: name: 'support.function.asm'
        2: name: 'keyword.control.asm'
    }
    {
      comment: 'Directiva'
      match: '(DW) (0x[0-9A-F]{4})'
      captures:
        1: name: 'support.function.asm'
        2: name: 'constant.language.asm'
    }
]

repository:
    comment:{
        comment: 'Comentario del codigo'
        name: 'comment.line.asm'
        match: '\;.*$'
    }
    hexaConstant:{
      name: 'constant.language.asm'
      match: '0x[0-9A-F]{4}'
    }
    variable:{
      name: 'variable.asm'
      match: '(\\[*)[0-9A-Z]+(\\]*)'
      captures:
        1: name: 'string.regexp.character-class.asm'
        2: name: 'string.regexp.character-class.asm'
    }
